@using Sandbox;
@using Sandbox.UI;
@using Sandbox.Razor;
@using System;

@inherits PanelComponent

@namespace ItemBuilder.UI

<style>
    ItemWorldInfo 
    {
        opacity: 0;

        .container {
            width: 100%;
            background-color: rgba(0.4,0.4,0.4, 0.8);

            align-items: center;
            justify-content: center;

            >.item-name {
                margin: 4px;
                color: white;
                font-size: 32px;
            }
        }

        &.hover {
            opacity: 1;
        }
    }
</style>

<root class="@VisibleClass">
    <div class="container">
        <div class="item-name">@GameObject.Parent.Name</div>
    </div>
</root>

@code
{
    public bool Hovered = false;
    public string VisibleClass => Hovered ? "hover" : "";

    protected override int BuildHash() => 33 + System.HashCode.Combine(GameObject.Parent.Name, Hovered);

    protected override void OnUpdate()
    {
        base.OnUpdate();

        var ray = Scene.Camera.ScreenPixelToRay(Screen.Size / 2);

        var traceResult = Game.ActiveScene.Trace.Ray(ray, 512)
            .WithoutTags("player")
            .Run();

        Hovered = traceResult.GameObject == GameObject.Parent;
    }

}
