$primary-black: #161616;
$primary-gray: #766D8D;
$primary-white: #F9F8FF;

$accent-primary: #7357C0;
$accent-secondary: #C0AAFD;

$gray-1: #9695AB;
$gray-2: #ADABC4;
$gray-3: #D1CFE5;
$gray-4: #E8E6FE;

$accent-negative: #E64848;
$accent-positive: #3FCF92;