.05x-gap {
    gap: 0.5px;
}

.1x-gap {
    gap: 1px;
}

.2x-gap {
    gap: 2px;
}

.2-5x-gap {
    gap: 2.5px;
}

.4x-gap {
    gap: 4px;
}

.5x-gap {
    gap: 5px;
}

.6x-gap {
    gap: 6px;
}

.8x-gap {
    gap: 8px;
}

.10x-gap {
    gap: 10px;
}

.12x-gap {
    gap: 12px;
}

.16x-gap {
    gap: 16px;
}

.20x-gap {
    gap: 20px;
}

